#header{
  background: #00e4ff;
  height: 15%;
}
#home-icon{
    float:left;
    height:10px;
    width:10px;
}
body {
  background: #00f4ff;
  margin: 0px;
  padding: 0px;
}
#firstGraph{
  background: #ffffff;
  float:left; 
  width : 600px;
  height: 384px;
  margin: 8px auto;
}
#secondGraph{
  background: #ffffff;
  float:right; 
  width : 600px;
  height: 384px;
  margin: 8px auto;
}
form { 
  margin: 0 auto; 
  width:350px;
}
