.externalGraph {
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
}

.innerGraph {
  width: 80%;
  height: 100%;
  margin: auto;
  position: absolute;
}

.graphPopup {
  width: 600px;
  height:384px;
}
